@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
html,
body {
    font-size: 20px;
    color: #dfdfdf;
    background-color: #063647;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: initial;
    padding-right: initial;
}

.section-1 {
    background: #063647;
}

body {
    padding: 0;
    margin: 0;
    background-color: #063647;
    display: ruby;
    text-align: center;
    justify-content: center;
    min-height: 100vh
}

h1 {
    color: #484848;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer
}

h1 span {
    transition: .5s linear
}

h1:hover span:nth-child(1) {
    margin-right: 5px
}

h1:hover span:nth-child(1):after {
    content: "'";
}

h1:hover span:nth-child(2) {
    margin-left: 30px
}

h1:hover span:nth-child(3) {
    margin-left: 30px
}

h1:hover span {
    color: whitesmoke;
    text-shadow: 0 0 10px slategray, 0 0 20px slategray, 0 0 40px slategray;
}

.section-2 {
    background-color: #052D3D;
}

.section-4 {
    background-color: #063647;
    padding: 0.2rem;
}

.section-4 {
    background-color: #063647;
    padding: 0.2rem;
}

.section-5 {
    background-color: #174d61;
}

a.nav-item {
    color: #dfdfdf;
}

a.nav-item:hover {
    color: #fff;
}

.avatar {
    width: 224.02px;
    height: 280px;
    border-radius: 7%;
    text-align: center;
}

.intro-description {
    padding-top: 1rem;
}

.lista ul li {
    border-bottom: 1px solid rgb(38, 69, 82);
}

.lista ul li:last-child {
    border-bottom: none;
}

.project-figure {
    margin: 0 auto 1rem auto;
    max-height: 512px;
    max-width: 512px;
}

.project-img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    border-radius: 0.125rem;
}

.project-text {
    text-align: center;
}

.box {
    background-color: transparent;
    border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
    color: #fff;
    text-align: left;
    margin-bottom: 2rem;
}

.intro {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

.void-background {
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    h1 {
        color: #484848;
        font-size: 30px;
        font-weight: bold;
        font-family: monospace;
        letter-spacing: 7px;
        cursor: pointer
    }
    .nav-menu {
        background-color: #063647;
    }
    .nav-toggle:hover {
        background-color: transparent;
    }
    .nav-toggle span {
        background-color: #dfdfdf;
    }
    .nav-toggle span:hover {
        background-color: #fff;
    }
}